### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [1]:
song = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek"
print(song.count("row"))

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [5]:
name = input("enter a name: ")
color = input("enter a color: ")
animal = input("last is animal: ")

print("{} had a little {}".format(name, animal))
print("It was {} as snow".format(color))
print("And everywhere that {} went, the {} was sure to go".format(name,animal))

enter a name: robyn
enter a color: red
last is animal: dragon
robyn had a little dragon
It was red as snow
And everywhere that robyn went, the dragon was sure to go

3. Print 3.14159 in a scientific number notation

In [6]:
num = 3.14159
print(f"{num:e}")

3.141590e+00

4. Print 3.1559 in 3 decimal places

In [8]:
num2 = 3.1559
print(f"{num2:.3f}")

3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [10]:
num3 = 1589.92341
print(f"{num3:.3e}")

1.590e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [11]:
print(39 // 2)
print(39 % 2)

19
1

In [12]:
print(19 // 2)
print(19 % 2)

9
1

In [13]:
print(9 // 2)
print(9 % 2)

4
1

In [14]:
print(4 // 2)
print(4 % 2)

2
0

In [16]:
print(2 // 2)
print(2 % 2)

1
0

In [17]:
print(1 // 2)
print(1 % 2)

0
1

In [18]:
b = 0b100111

In [21]:
print(int(b))
print(bin(39))

57
0b100111

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [22]:
print(39 // 8)
print(39 % 8)

4
7

In [23]:
print(4 // 8)
print(4 % 8)

0
4

In [24]:
o = 0o47
print(int(b))
print(oct(39))

57
0o47

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [29]:
print(39 // 16)
print(39 % 16)

2
7

In [30]:
print(2 // 16)
print(7 % 5)

0
2

In [31]:
h = 0x27
print(int(h))
print(hex(39))

39
0x27

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [33]:
amt = float(input("Enter amount: "))
tax = float(input("Enter tax amt: "))

Enter amount: 800000
Enter tax amt: 4

In [34]:
ctax = amt * (tax/100)
tamt = ctax + amt

In [35]:
print(f"This is the amount entered \t${amt:,.2f}, the tax rate entered {ctax:,.2f}, and the total amount {tamt:,.2f}")

This is the amount entered 	$800,000.00, the tax rate entered 32,000.00, and the total amount 832,000.00