Exercise 1

In [1]:
my_name = 'robert'
my_name

'robert'

In [2]:
month = 8
month

8

In [3]:
gpa = 3.5
gpa

3.5

In [4]:
my_name = 'charles'
month = 10
gpa = 3.6

my_name
month
gpa

3.6

Exercise 2

In [5]:
name = input("Please enter name here")

Please enter name hereAshley

In [7]:
print("Hello,", name)

Hello, Ashley

In [8]:
favorite_number = input("Please enter your favorite number: ")

Please enter your favorite number: 4

In [9]:
print( "your favorite number is ", favorite_number)

your favorite number is  4

In [12]:
favorite_number = float(favorite_number)
favorite_number = str(favorite_number)

print(favorite_number, "is", type (favorite_number))

4.0 is <class 'str'>

In [14]:
print(favorite_number, favorite_number, favorite_number, sep="\t")

4.0	4.0	4.0

In [16]:
print(name, name, name, sep="\n")

Ashley
Ashley
Ashley

In [17]:
answer = 10/2
print(answer)

print(int(answer))

5.0
5

In [18]:
total = 80 + 91 + 99 + 78 + 95 + 87 + 92
average = total / 7
print(average)

88.85714285714286

In [19]:
price = 49.95
qty = 10
tax = .065
subtotal = price * qty
tax *= subtotal
total = subtotal + tax

# use formatted string
print("Price:\t\t$", price)
print("Quantity:\t ", qty)
print("------------------")
print("Subtotal:\t$", subtotal)
print("Sales Tax:\t$", tax)
print("------------------")
print("Total:\t\t$", total)

Price:		$ 49.95
Quantity:	  10
------------------
Subtotal:	$ 499.5
Sales Tax:	$ 32.4675
------------------
Total:		$ 531.9675